// TODAS AS TAGS DE FONT
h1
h2
h3
h4
h5
h6
	FontExoDemiBold(normal)
	color CorCinza2

body
pre
code
kbd
pre
samp
button
input
optgroup
select
textarea
legend
label
td
th
abbr
blockquote
span
a
p
	FontExoRegular(normal)
	color CorCinza2