.modal
	.modal-dialog
		.modal-content
			border-radius 0
			.modal-header
				.modal-title
					color CorVerde1
					text-transform uppercase
			.modal-body
				.row
					.col-xs-12
						.thumbnail
							border-radius 0
							border none
							box-shadow none
							margin-bottom 3px
							.caption
								padding 0			
								h3
									color CorVerde1
									text-transform uppercase
							.alertP
								text-align center
								margin-bottom 0
								margin-top 0
								h3
									font-size 28px
								p
									font-size 17px
							.imgCaption
								.well
									height 44px
									width 181px
									border-radius 0
									border none
									background none
									background-color CorAzul1
									box-shadow none
									padding 0
									text-align center		
									position relative
									float right
									margin-top -45px
									right 7%
									p
										FontExoDemiBold(normal)
										margin 0
										padding 0
										text-transform uppercase
										color Corbranca
										font-size 18px
										line-height 44px
								img
									margin-left auto
									margin-right auto									

	
										