// NAV DO TOPO DO APP
header.navbar-default
	background none
	box-shadow none
	border none			
header.navbar-fixed-top
	background-color CorAzul2
	color Corbranca
	min-height 59px
	padding-top 2px
	.navbar-header
		a
			font-size 33px			
			color Corbranca
			&:hover
			&:focus
				color CorAzul3
	.navbar-right
	.navbar-left
		position relative
		z-index 2
	.navbar-left
		width 39px
		margin-top 5px
		a
			font-size 29px	
	.navbar-right		
		.navbar-brand
			text-shadow none
			color Corbranca
			line-height 21px
			text-indent -9999px
			background transparent url('../imagens/thumbnails/logo-WellNess-header.png') no-repeat center
			width 59px
			margin-top 2px
		.Log			
			line-height 52px
	.navbar-center
		text-align center
		width 100%
		position absolute		
		z-index 1
		margin-left -15px
		.navTituloLogo
			background transparent url('../imagens/thumbnails/logo-horizontal-WellNess-header.png') no-repeat center
			height 48px
			margin-top -18px			
			h1
				font-size 20px
				color Corbranca
				text-indent -9999px
		.navTituloh1
		.navTitulo
			h1 
				font-size 20px
				text-transform uppercase
				color Corbranca
				display block
				CeBLivre()
		.navTituloh1
			margin-top 15px
		.navTitulo
			margin-top 7px
			h2
				FontExoThin(normal)
				font-size 16px
				color Corbranca
				display block
				CeBLivre()

// NAV DO FOOTER DO APP
footer.navbar-fixed-bottom
	background-image none
	border none
	box-shadow none
	background-color CorVerde4
	nav
		.nav-pills
			li
				a
					color CorVerde5
					line-height 30px
					border none
					border-radius 0
					border-right 1px solid CorVerde7
					padding-top 13px
					padding-bottom 6px					
					&:hover
					&:focus
						background-color CorVerde6
					i.fa
						font-size 24px
					span
						position absolute
						text-indent -9999px
			li:last-child
				a
					border-right none
			.active
				a
					background-color CorVerde6
					