/* CSS PARA PÁGINA DE CARREGAMENTO */
.BodyAzul
	background-color CorAzul1	
	.CentroCarregamento
		position absolute
		width 242px
		height 267px
		left 50%
		top 50%
		margin-left calc( "-242px / 2" )
		margin-top calc( "-267px / 2" )
		
		.thumbnail
			background-color transparent
			text-align center
			border 0			
			box-shadow none
			p
				color Corbranca
				margin-top 11px
		