/* CSS PARA PÁGINA DE LOGIN */
.BodyAzul	
	span
	a
	p
	label
		color Corbranca
	form
		position relative
		min-height 100%
		width 100%
	.ContainerLogin		
		min-height 100%
		width 100%		
		.LoginPage
			position absolute			
			top 50%
			margin-top calc( "-587px / 2" )
			margin-left 6%
			margin-right 6%
			text-align center
			height percent( 587px, 736px )
			width percent( 365px, 414px )			
			fieldset
				margin-bottom 13px 
				.thumbnails
					width 100%
					margin-left auto
					margin-right auto
					margin-bottom: 55px;				
				input
					background-color CorCinza1
					text-align center
				input
				.btn
					margin-bottom 5%
					height: 51px;
				.linksSolto
				.aEsquerda
				.aDireita
					EeDLivre()		
				.linksSolto
					margin-top 20px
					margin-bottom 40px
					.aDireita
					.aEsquerda
						font-size 16px
					.aDireita
						text-align right				
					.aEsquerda
						text-align left
			
			.footerLogin
				padding-bottom 20px
				.btn-facebook
					background-color CorAzulFacebook
					color Corbranca
					font-size 14px
					margin-bottom 0
					height: 51px;
					&:hover
						background-color CorAzulFacebook2
						color Corbranca
				