//- EXEMPLO DE NAVIGATION BOOTSTRAP APENAS PARA DEMONSTRAÇÃO

footer.navbar.navbar-default.navbar-fixed-bottom
	nav
		ul.nav.nav-pills.nav-justified
			li(role="presentation")
				a(href="FeedNoticias.html" title="Página Inicial")
					i.fa.fa-home(aria-hidden="true")
					span Página Inicial
			li(role="presentation")
				a(href="AmigoSaude.html" title="Amigos da Saúde")
					i.fa.fa-users(aria-hidden="true")
					span Amigos da Saúde
			li(role="presentation")
				a(href="Forum.html" title="Fórum da Vida Saudável")
					i.fa.fa-comments-o(aria-hidden="true")
					span Fórum da Vida Saudável
			li(role="presentation")
				a(href="PerfilPreferencia.html" title="Perfil e Preferências")
					i.fa.fa-cog(aria-hidden="true")
					span Perfil e Preferências