article.CentroCarregamento
	.thumbnail		
		img.img-responsive(src="assets/imagens/thumbnails/Wellness-logo-carregamento.png", alt="Imagem do Logo Wellness")
		p.Pcarregando
			i.fa.fa-spinner.fa-pulse(aria-hidden="true")
			br
			|Carregando...
