/* INDICE DE USO CSS
 
 - TAGS GERAIS 
 - FONTE FAMILY EXO
 - FONTES
 - NAVs
 - PAGE HEADER
 - FORMULARIO
 - TABELAS
 - SLIDES
 - TABS
 - PANELS
 - TIMELINE
 - PAGINAÇÃO 
 - MODAL DAS PÁGINAS
 - PGBACKGROUNDAZUL
 - PGGERAL
 - VERSÕES BROWSERS
 - VERSÕES RESPONSIVAS

------------------ */

/* TAGS GERAIS */
*
	margin 0
	padding 0
html
body
	height 100%
body
	background-color CorCinza1
/* ------------------ */

/* FONTE FAMILY EXO */
@import "Blocos/FontFamilyExo"
/* ------------------ */
/* FONTES */
@import "Blocos/Fonts"
/* ------------------ */
/* NAVs */
@import "Blocos/Navs"
/* ------------------ */
/* PAGE HEADER */
@import "Blocos/PageHeader"
/* ------------------ */
/* FORMULARIO */
@import "Blocos/Form"
/* ------------------ */
/* TABELAS */
@import "Blocos/Table"
/* ------------------ */
/* SLIDES */
@import "Blocos/Slide"
/* ------------------ */
/* TABS */
@import "Blocos/Tabs"
/* ------------------ */
/* PANELS */
@import "Blocos/PanelGroup"
/* ------------------ */
/* TIMELINE */
@import "Blocos/Timeline"
/* ------------------ */
/* PAGINAÇÃO */
@import "Blocos/Paginacao"
/* ------------------ */
/* MODAL DAS PÁGINAS */
@import "Blocos/Modal"
/* ------------------ */
/* PGBACKGROUNDAZUL */
@import "Blocos/PagBackgroundAzul"
/* ------------------ */
/* PGGERAL */
@import "Blocos/PagEmGeral"
/* ------------------ */
	