+media-query( all, max-width 1077px )
	.ContentFeed
		.col-xs-12
			.Evento
				.ImagemDestaque
					min-height 165px
					max-height 165px
					.backdrop
						max-height 165px
					.InfEvento
						h2
							font-size 29px
						span
							font-size 14px

+media-query( all, max-height 991px )
	// ALTERAÇÕES NO NAV TOP	
	.container-fluid
		.row
			header.navbar-fixed-top
				.navbar-right
					margin-right 2px

+media-query( all, min-height 989px )
	// ALTERAÇÕES NA TELA DE LOGIN
	.BodyAzul
		form
			.ContainerLogin
				.LoginPage
					height 587px
	// ------------------------------

+media-query( all, max-width 991px )
	.ContentFeed
		.col-xs-12
			.Evento
				.ImagemDestaque
					min-height 190px
					max-height 190px
					.backdrop
						max-height 190px
					.InfEvento
						h2
							font-size 38px
						span
							font-size 17px

+media-query( all, max-width 956px )
	.container-fluid
		.row
			.page-header				
				h1
					font-size 21px						
				p
					font-size 14px			

+media-query( all, max-width 767px )
	.container-fluid
		.row
			// ALTERAÇÕES NO NAV TOP
			header.navbar-fixed-top
				.navbar-center
					top 1px
				.navbar-right
					position absolute
					right 10px
					top 1px
			// ALTERAÇÕES NO NAV BOTTOM
			footer.navbar-fixed-bottom
				nav
					.nav-pills
						li
							display table-cell
							width 1%
							a
								margin-bottom 0

+media-query( all, max-height 620px )
	// ALTERAÇÕES NA TELA DE LOGIN
	.BodyAzul
		form
			.ContainerLogin
				.LoginPage
					position static
					top 0
					margin-top 10px
					fieldset
						.thumbnails
							margin-bottom 13px
						.linksSolto
							margin-bottom 11px
	// ------------------------------

+media-query( all, max-width 557px )
	.ContentFeed
		.col-xs-12
			.thumbnail
				margin-bottom 8px
			.Evento
				.ImagemDestaque
					min-height 165px
					max-height 165px
					.backdrop
						max-height 165px
					.InfEvento
						h2
							font-size 29px
						span
							font-size 14px

+media-query( all, max-width 551px )
	.ContentAmigosSaude	
		.col-xs-12
			// DETALHES DO USUÁRIO AMIGO DA SAÚDE
			.AmigosContato
				.AddAmigos
					font-size 25px					
					margin-right 18px
					margin-top 7px			
				.ImagemUsuario
					height 55px
					width 55px
					img
						height 55px
						width 55px
				.caption
					padding 2px 0 0 15px					
					.h2						
						margin-top 0
						margin-bottom 0
						font-size 18px
						position relative				
						display block
						width 26ch						
						height 19px
						overflow hidden
						display -webkit-box
						-webkit-line-clamp 1
						-webkit-box-orient vertical
					p
						font-size 12px
						a
							position relative				
							width 16ch	
							overflow hidden
							display -webkit-box
							-webkit-line-clamp 1
							-webkit-box-orient vertical
							margin-top -17px
							margin-left 71px							

+media-query( all, max-width 449px )
	.ContentAmigosSaude	
		.col-xs-12
			// DETALHES DO USUÁRIO AMIGO DA SAÚDE
			.AmigosContato
				.caption
					.h2
						width 17ch

+media-query( all, max-width 414px )
	.textareaMensApp
		textarea
			height: 280px;
	
	.ContentFeed
		.col-xs-12
			.Evento
				.ImagemDestaque
					min-height 165px
					max-height 165px
					.backdrop
						max-height 165px
					.DataEvento
						margin-right 2px
						.num
							font-size 57px
							height 62px
						.let
							font-size 36px
							
					.InfEvento
						h2
							font-size 22px
						span
							font-size 14px
				.footerThumb
					.form-group
						.checkbox-item
							width 100%
							label
								font-size 15px		

+media-query( all, max-width 380px )
	.textareaMensApp
		label
			font-size 17px
		textarea
			height: 215px;
			
	.ContentFeed
		.col-xs-12
			.Quiz
				.media
					.media-body						
						.media-heading
							font-size 22px
				.caption
					p
						font-size 15px
	.modal
		.modal-dialog
			.modal-content
				.modal-body
					.row
						.col-xs-12
							.thumbnail
									.alertP
										h3
											font-size 22px
										p
											font-size 15px

+media-query( all, max-width 368px )
	// ALTERAÇÕES NO NAV TOP
	.container-fluid
		.row
			header.navbar-fixed-top
				.navbar-center
					.navTitulo
					.navTituloh1
						margin-top 12px
						h1
							font-size 15px
						h2
							font-size 13px
					.navTituloh1
						margin-top 19px
			.inputCheckboxAzul
				.checkbox-item
					width 148px

+media-query( all, max-width 360px )
	.container-fluid
		.row
			.inputCheckboxAzul
				.checkbox-item
					width 146px

+media-query( all, max-width 340px )
	.bodyAmSaude
		background-size 283px
	.container-fluid
		.row
			.page-header				
				h1
					font-size 17px						
				p
					font-size 12px
			.inputCheckboxAzul
				.checkbox-item
					width 125px
			.textareaMensApp
				label
					font-size 15px
				textarea
					height: 127px;
			
			.contentForum
				.col-xs-6
					padding 2px					
					.thumbnail						
						min-height 150px
			
			.ContentFeed
				.col-xs-12
					.Evento
						.ImagemDestaque
							min-height 146px
							max-height 146px
							.backdrop
								max-height 146px
							.DataEvento
								width 75px
								.num
									font-size 47px
									height 50px
								.let
									font-size 29px
									
							.InfEvento
								width calc( "100% - 104px" )
								h2
									font-size 19px
									margin-bottom 13px
								span
									font-size 13px
						.footerThumb
							.form-group
								.checkbox-item
									width 100%
									label
										font-size 15px
			
							

			.ContentForumInterno
				.col-xs-12
					.ThumbForumI
						.caption
							.ContPergunta
								.Pergunta
									a
										font-size 16px
								.Usuario
									a
										font-size 13px