/* VERSÕES BROWSERS */

/* SOMENTE IE/Edge ≥ 10 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
*/

/* SOMENTE FIREFOX */
@-moz-document url-prefix()
	+media-query( all, max-width 551px )
		.ContentAmigosSaude
			.col-xs-12
				.AmigosContato					
					.caption
						p
							a
								margin-left 3px

/* SOMENTE CHROME
@media screen and (-webkit-min-device-pixel-ratio:0)
*/