/* TODAS AS VARIAVEIS DO CSS */

// CORES DO SITE
CorAzul1 = #0076ae
CorAzul2 = #0579b0
CorAzul3 = #4aa8d5
CorAzul4 = #4299c4
CorAzulFacebook = #2a5999
CorAzulFacebook2 = #359dce

CorVerde1 = #c3d021
CorVerde2 = #767f00
CorVerde3 = #dde94c
CorVerde4 = #b0c100
CorVerde5 = #276000
CorVerde6 = #ccdf0b
CorVerde7 = #a4b300

CorCinza1 = #d3d3d3
CorCinza2 = #545454
CorCinza3 = #717273
CorCinza4 = #c5c4c4
CorCinza5 = #afaeae
CorCinza6 = #cecece

Corbranca = #fff

// -----------------------------

// FONTE DO SITE
Exo = 'Exo', sans-serif

// -----------------------------

// TAMANHOS PADRÕES


// -----------------------------

// URLs
UrlImagem = '../imagens/icon/'
// -----------------------------