//- CONTEÚDO GERAL DA PÁGINA DE DETALHES DO USUÁRIO AMIGO DA SAÚDE
article.row.ContentAmigosSaude
	.col-xs-12
		.thumbnail.FormPesquisar
			.form-group
				label.sr-only(for="txtNome")
					| Pesquisar Contato
				input#txtNome.form-control(type="text", placeholder="Pesquisar Contato")
				span.input-group-addon
					i.fa.fa-search(aria-hidden="true")
			.clearfix

		// CONTATOS USUÁRIO
		.thumbnail.AmigosContato
			.ImagemUsuario
				img.img-circle.img-responsive(src="assets/imagens/Usuarios/thumbs/Example-User.jpg" alt="Imagem de Usuario")
			.caption
				a.h2(href="AmigoSaudeDetalhe.html" title="Perfil do usuário")
					| Nome da Pessoa
				p
					| Indicado Por 
					a(href="AmigoSaudeDetalhe.html" title="Perfil do usuário") Nome da Pessoa
				p
					Membro desde 00/00/0000

			a.AddAmigos(href="#" title="Adicionar ou remove-lo da lista de amigos")
				i.fa.fa-user-plus(aria-hidden="true")
			.clearfix

		.thumbnail.AmigosContato
			.ImagemUsuario
				img.img-circle.img-responsive(src="assets/imagens/Usuarios/thumbs/Example-User.jpg" alt="Imagem de Usuario")
			.caption
				a.h2(href="AmigoSaudeDetalhe.html" title="Perfil do usuário")
					| Nome da Pessoa
				p
					| Indicado Por 
					a(href="AmigoSaudeDetalhe.html" title="Perfil do usuário") Nome da Pessoa
				p
					Membro desde 00/00/0000

			a.AddAmigos.active(href="#" title="Adicionar ou remove-lo da lista de amigos")
				i.fa.fa-user-plus(aria-hidden="true")
			.clearfix

		.thumbnail.AmigosContato
			.ImagemUsuario
				img.img-circle.img-responsive(src="assets/imagens/Usuarios/thumbs/Example-User.jpg" alt="Imagem de Usuario")
			.caption
				a.h2(href="AmigoSaudeDetalhe.html" title="Perfil do usuário")
					| Nome da Pessoa
				p
					| Indicado Por 
					a(href="AmigoSaudeDetalhe.html" title="Perfil do usuário") Nome da Pessoa
				p
					Membro desde 00/00/0000

			a.AddAmigos(href="#" title="Adicionar ou remove-lo da lista de amigos")
				i.fa.fa-user-plus(aria-hidden="true")
			.clearfix

		.thumbnail.AmigosContato
			.ImagemUsuario
				img.img-circle.img-responsive(src="assets/imagens/Usuarios/thumbs/Example-User.jpg" alt="Imagem de Usuario")
			.caption
				a.h2(href="AmigoSaudeDetalhe.html" title="Perfil do usuário")
					| Nome da Pessoa
				p
					| Indicado Por 
					a(href="AmigoSaudeDetalhe.html" title="Perfil do usuário") Nome da Pessoa
				p
					Membro desde 00/00/0000

			a.AddAmigos.active(href="#" title="Adicionar ou remove-lo da lista de amigos")
				i.fa.fa-user-plus(aria-hidden="true")
			.clearfix