//- CONTEÚDO GERAL DA PÁGINA DE AMIGOS DA SAÚDE
article.PgAmigosSaude
	.page-header.col-xs-12
		h1
			| Você ainda não indicou nenhum amigo para ajudá-lo a ser mais saudável.	
	
	section.fixoBottom
		.form-group
			button.btn.btn-lg.btn-primary.btn-block.btnLoading(type="button" data-loading-text="Carregando..." autocomplete="off" onClick="location.href='AmigoSaudeContatos.html'")
				| Começar Agora!
