//- CONTEÚDO GERAL DA PÁGINA DE FORUM INTERNO
.page-header.headerForumInterno
	h1
		| Respondendo a esse Fórum
	p
		| César Bachour, Dra Ana Maria, Dr João Silva

	.form-group.col-xs-12.col-md-offset-2.col-md-8.col-md-offset-2
		button.btn.btn-lg.btn-default.btn-block.btnLoading(type="button" data-loading-text="Carregando..." autocomplete="off" onClick="location.href='ForumNovaPergunta.html'")
			| Fazer Perguntas
	.clearfix

article.row.ContentForumInterno
	.col-xs-12

		// AREA DA PERGUNTA
		.thumbnail.ThumbForumI
			.caption
				.form-group.inputCheckboxAzul.col-xs-2
					.checkbox-item
						span.fa-stack.fa-lg
							i.fa.fa-question.fa-stack-2x.faQuestion
							i.fa.fa-check.fa-stack-1x.fa-verde
				.ContPergunta.col-xs-10
					.Pergunta
						i.fa.fa-question-circle-o(aria-hidden="true")
						a(href="#" title="Detalhe da pergunta") Quantas calorias tem um torresmo?
					.Usuario
						i.fa.fa-user-o(aria-hidden="true")
						a(href="AmigoSaudeDetalhe.html" title="Clique para ver o Perfil")
							| Nome do usuário
				.clearfix

			.footerThumb.row				
				.col-xs-6
					a(title="Data da pergunta")
						i.fa.fa-calendar(aria-hidden="true")
						| &nbsp;&nbsp; 00/00/0000
				.col-xs-6.text-right
					a(href="#" title="Data da pergunta")
						i.fa.fa-commenting-o.faSize(aria-hidden="true")
						| &nbsp;&nbsp; 000
		// ---------------------

		// AREA DA PERGUNTA
		.thumbnail.ThumbForumI
			.caption
				.form-group.inputCheckboxAzul.col-xs-2
					.checkbox-item
						span.fa-stack.fa-lg
							i.fa.fa-question.fa-stack-2x.faQuestion
							i.fa.fa-exclamation-triangle.fa-stack-1x.fa-laranja
				.ContPergunta.col-xs-10
					.Pergunta
						i.fa.fa-question-circle-o(aria-hidden="true")
						a(href="#" title="Detalhe da pergunta") Quantas calorias tem um torresmo?
					.Usuario
						i.fa.fa-user-o(aria-hidden="true")
						a(href="AmigoSaudeDetalhe.html" title="Clique para ver o Perfil")
							| Nome do usuário
				.clearfix

			.footerThumb.row				
				.col-xs-6
					a(title="Data da pergunta")
						i.fa.fa-calendar(aria-hidden="true")
						| &nbsp;&nbsp; 00/00/0000
				.col-xs-6.text-right
					a(href="#" title="Data da pergunta")
						i.fa.fa-commenting-o.faSize(aria-hidden="true")
						| &nbsp;&nbsp; 000
		// ---------------------

		// AREA DA PERGUNTA
		.thumbnail.ThumbForumI
			.caption
				.form-group.inputCheckboxAzul.col-xs-2
					.checkbox-item
						span.fa-stack.fa-lg
							i.fa.fa-question.fa-stack-2x.faQuestion
							i.fa.fa-check.fa-stack-1x.fa-verde			
				.ContPergunta.col-xs-10
					.Pergunta
						i.fa.fa-question-circle-o(aria-hidden="true")
						a(href="#" title="Detalhe da pergunta") Quantas calorias tem um torresmo?
					.Usuario
						i.fa.fa-user-o(aria-hidden="true")
						a(href="AmigoSaudeDetalhe.html" title="Clique para ver o Perfil")
							| Nome do usuário
				.clearfix

			.footerThumb.row				
				.col-xs-6
					a(title="Data da pergunta")
						i.fa.fa-calendar(aria-hidden="true")
						| &nbsp;&nbsp; 00/00/0000
				.col-xs-6.text-right
					a(href="#" title="Data da pergunta")
						i.fa.fa-commenting-o.faSize(aria-hidden="true")
						| &nbsp;&nbsp; 000
		// ---------------------

		// AREA DA PERGUNTA
		.thumbnail.ThumbForumI
			.caption
				.form-group.inputCheckboxAzul.col-xs-2
					.checkbox-item
						span.fa-stack.fa-lg
							i.fa.fa-question.fa-stack-2x.faQuestion
							i.fa.fa-exclamation-triangle.fa-stack-1x.fa-laranja			
				.ContPergunta.col-xs-10
					.Pergunta
						i.fa.fa-question-circle-o(aria-hidden="true")
						a(href="#" title="Detalhe da pergunta") Quantas calorias tem um torresmo?
					.Usuario
						i.fa.fa-user-o(aria-hidden="true")
						a(href="AmigoSaudeDetalhe.html" title="Clique para ver o Perfil")
							| Nome do usuário
				.clearfix

			.footerThumb.row				
				.col-xs-6
					a(title="Data da pergunta")
						i.fa.fa-calendar(aria-hidden="true")
						| &nbsp;&nbsp; 00/00/0000
				.col-xs-6.text-right
					a(href="#" title="Data da pergunta")
						i.fa.fa-commenting-o.faSize(aria-hidden="true")
						| &nbsp;&nbsp; 000
		// ---------------------



