//- CONTEÚDO GERAL DA PÁGINA DE FORUM DA VIDA SAUDAVEL
article.row.ContentForum
	.col-xs-6
		a.thumbnail.thumbSaude(href="ForumInterna.html" title="Entrar no Forum")
			span
				i
				| Saúde
	.col-xs-6
		a.thumbnail.thumbAlimentacao(href="ForumInterna.html" title="Entrar no Forum")
			span
				i
				| Alimentação
	.col-xs-6
		a.thumbnail.thumbEsporte(href="ForumInterna.html" title="Entrar no Forum")
			span
				i
				| Esporte & Condicionamento Físico
	.col-xs-6
		a.thumbnail.thumbBemEstar(href="ForumInterna.html" title="Entrar no Forum")
			span
				i
				| Bem-Estar